/* Mehidi Hasan, 1 July 2020 */

body {
	font-family: "Titillium Web", sans-serif;
	margin: 0;
}


/* ********************* */
/* ********************* */

/* ** Reusable Css  ** */

/* ********************* */
/* ********************* */

h1 {
	font-size: 50px;
}

h3 {
	margin: 0;
	font-size: 40px;
	font-weight: 600;
}

h4 {
	font-size: 25px;
}

h5 {
	font-size: 17px;
}

p {
	color: dimgray;
	font-size: 20px;
	padding-bottom: 20px;
}

a {
	background-color: #ec4c7a;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

a:hover {
	background-color: #e42e61;
}

section {
	height: 900px;
	width: 100%;
}

img {
	width: 100%;
}

.row {
	width: 90%;
	margin: 0 auto;
}

.half-width {
	width: 40%;
	float: left;
}

.half-width img {
	width: 100%;
	padding-top: 10%;
}


/* ********************* */
/* ********************* */

/* ** Header Section  ** */

/* ********************* */
/* ********************* */

.header-section {
	background-image: url("images/backgrokund-images/header-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}

.hire-me {
	margin-left: 10%;
	margin-top: 15%;
}

.name-bold {
	color: #ec4c7a;
	font-weight: 900;
	margin: 0;
}


/* ********************* */
/* ********************* */

/* ** Biography Section  ** */

/* ********************* */
/* ********************* */

.biography-section {
	background-image: url("images/backgrokund-images/biography-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}

.biography {
	margin-top: 18%;
	margin-left: 7%;
}

.biography-img {
	margin-left: 10%;
	margin-top: 3%;
	width: 500px;
	height: 500px;
}


/* ********************* */
/* ********************* */

/* ** Latest Work Section  ** */

/* ********************* */
/* ********************* */

.latest-work-section {
	background-image: url("images/backgrokund-images/latest-work-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 620px;
}

.latest-work-section h3 {
	text-align: center;
	padding-top: 5%;
}

.latest-works-all {
	width: 90%;
	overflow: hidden;
	margin: 68px auto;
}

.latest-work {
	width: 30%;
	overflow: hidden;
	float: left;
	margin-left: 3%;
}


/* ********************* */
/* ********************* */

/* ** Contact Section  ** */

/* ********************* */
/* ********************* */

.contact-section {
	background-image: url("images/backgrokund-images/footer-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	height: 700px;
}

.contact-section h3 {
	margin: 50px 0 50px 0;
}

.contact-section p {
	font-size: 18px;
	width: 500px;
	margin-left: 35%;
}

.contact-section h3,
h4,
h5 {
	text-align: center;
}

#bottom-tagline {
	color: black;
}

.email-me {
	background-color: #ec4c7a;
	width: 40%;
	border-radius: 7px;
	margin-left: 30%;
	text-align: center;
	padding: 2px 15px;
	color: white;
}


/* ********************* */
/* ********************* */

/* ** Footer Section  ** */

/* ********************* */
/* ********************* */

footer {
	text-align: center;
	padding: 5%;
}